<div class="icon-bar">
  <fa-icon [icon]="faGithub"></fa-icon>
  <fa-icon [icon]="faInstagram"></fa-icon>
  <fa-icon [icon]="faLinkedin"></fa-icon>
  <fa-icon [icon]="faX"></fa-icon>
  <fa-icon [icon]="faDiscord"></fa-icon>
  <fa-icon [icon]="faAmazon"></fa-icon>
  <fa-icon [icon]="faApple"></fa-icon>
</div>

<div class="grid-container">
    <div class="text-content">
        <h3>Already 180+ Companies use this service</h3>
        <h1>Take Control of your Tenancy with Wachira Tenancy</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error maxime, ducimus velit fugiat optio, delectus
            impedit nemo quod adipisci maiores eius quas vero asperiores deserunt rem non, sunt placeat iure?</p>
        <div class="button-group">
            <button class="primary-btn">Get Started</button>
            <button class="secondary-btn">Learn More</button>
        </div>
    </div>

    <div class="image-content"></div>
</div>
<div class="icon-bar">
  <fa-icon [icon]="faFacebook"></fa-icon>
  <fa-icon [icon]="faYoutube"></fa-icon>
  <fa-icon [icon]="faTiktok"></fa-icon>
  <fa-icon [icon]="faSnapchat"></fa-icon>
  <fa-icon [icon]="faPinterest"></fa-icon>
  <fa-icon [icon]="faReddit"></fa-icon>
  <fa-icon [icon]="faMedium"></fa-icon>
</div>
